version: "2.1"

services:

  opbeans-php-backend-db:
    image: docker.io/bitnami/mariadb:10.2-debian-10
    env_file:
      - .env

  opbeans-php-backend:
    image: docker.io/bitnami/laravel:6-debian-10
    ports:
      - ${OPBEANS_PHP_PORT:-3000}:3000
    env_file:
      - .env
    volumes:
      - ./:/app
    depends_on:
      - opbeans-php-backend-db

volumes:
  opbeans-php-backend-db:
